# Project 6 -- Aman Patel

# Question 1

In [1]:
need_coffee <- FALSE;

In [2]:
if (need_coffee) {
  print("Yes! Grab a coffee first...")
} else {
  print("Wow, you must be a superhero! No coffee needed")
}

[1] "Wow, you must be a superhero! No coffee needed"

When need_coffee was set to true, it printed out the first response.

In [3]:
color = "red"

In [4]:
if(color == "blue") {
    print("Jedi Guardian")
} else if (color == "green") {
    print("Jedi Consular")
} else if (color == "purple") {
    print("Unique Balance")
} else if (color == "red") {
    print("Sith Lord")
} else {
    print("Rare Occurence")
}

[1] "Sith Lord"

In [5]:
colors <- c("green", "blue", "red", "yellow", "blue", "red", "purple", "green", "red", "blue", "red", "blue")

In [6]:
roles <- ifelse(colors == "blue", "Jedi Guardian",
         ifelse(colors == "green", "Jedi Consular",
         ifelse(colors == "purple", "Unique Balance",
         ifelse(colors == "red", "Sith Lord", "Rare Occurence"))))

In [7]:
print(roles)

 [1] "Jedi Consular"  "Jedi Guardian"  "Sith Lord"      "Rare Occurence"
 [5] "Jedi Guardian"  "Sith Lord"      "Unique Balance" "Jedi Consular"
 [9] "Sith Lord"      "Jedi Guardian"  "Sith Lord"      "Jedi Guardian"

The main difference between if/else and ifelse is that the if/else checks the values of a variable one at a time, whereas ifelse applies the condition to all the values in one go. In short, ifelse is a faster function compared to the if/else.

# Question 2

In [8]:
myDF <- read.csv("/anvil/projects/tdm/data/social_media_addiction/social_media.csv")

In [9]:
dim(myDF)

[1] 705  13

In [10]:
head(myDF)

  Student_ID Age Gender Academic_Level Country    Avg_Daily_Usage_Hours
1 1          19  Female Undergraduate  Bangladesh 5.2
2 2          22  Male   Graduate       India      2.1
3 3          20  Female Undergraduate  USA        6.0
4 4          18  Male   High School    UK         3.0
5 5          21  Male   Graduate       Canada     4.5
6 6          19  Female Undergraduate  Australia  7.2
  Most_Used_Platform Affects_Academic_Performance Sleep_Hours_Per_Night
1 Instagram          Yes                          6.5
2 Twitter            No                           7.5
3 TikTok             Yes                          5.0
4 YouTube            No                           7.0
5 Facebook           Yes                          6.0
6 Instagram          Yes                          4.5
  Mental_Health_Score Relationship_Status Conflicts_Over_Social_Media
1 6                   In Relationship     3
2 8                   Single              0
3 5                   Complicated         4
4 7                   Single              1
5 6                   In Relationship     2
6 4                   Complicated         5
  Addicted_Score
1 8
2 3
3 9
4 4
5 7
6 9

In [11]:
myDF$Status <- ifelse(myDF$Avg_Daily_Usage_Hours > myDF$Sleep_Hours_Per_Night, "Zombie",
              ifelse(myDF$Avg_Daily_Usage_Hours == myDF$Sleep_Hours_Per_Night, "Doom Scroll", "Doing Fine"))

In [12]:
max_sleep <- max(myDF$Sleep_Hours_Per_Night)
max_usage <- max(myDF$Avg_Daily_Usage_Hours)

In [13]:
print(max_sleep)

[1] 9.6

The longest recorded sleep time is 9.6 hours

In [14]:
print(max_usage)

[1] 8.5

The longest time spent of social media is 8.5 hours

In [15]:
table(myDF$Status)

 Doing Fine Doom Scroll      Zombie
        536          22         147

The habit ratio that is the most common among the students is Doing Fine

# Question 3

In [16]:
screen_time <- 10

In [17]:
while(screen_time > 2) {
    print(paste("Screen time:", screen_time, "hours"))
    # OR
    # cat("Screen time:", screen_time, "hours")
    screen_time <- screen_time - 1
    }

[1] "Screen time: 10 hours"
[1] "Screen time: 9 hours"
[1] "Screen time: 8 hours"
[1] "Screen time: 7 hours"
[1] "Screen time: 6 hours"
[1] "Screen time: 5 hours"
[1] "Screen time: 4 hours"
[1] "Screen time: 3 hours"

In [18]:
sleep_time <- 2

In [19]:
while (sleep_time < 10){
    print(paste("Sleep time: ", sleep_time, "hours"))
    sleep_time <- sleep_time + 1
}

[1] "Sleep time:  2 hours"
[1] "Sleep time:  3 hours"
[1] "Sleep time:  4 hours"
[1] "Sleep time:  5 hours"
[1] "Sleep time:  6 hours"
[1] "Sleep time:  7 hours"
[1] "Sleep time:  8 hours"
[1] "Sleep time:  9 hours"

In [20]:
screen_time <- 10
sleep_time <- 2
while (screen_time > 2) {
  print(paste("Screen time:", screen_time, "hours | Sleep time:", sleep_time, "hours"))
  screen_time <- screen_time - 0.5
  sleep_time <- sleep_time + 0.5
}

[1] "Screen time: 10 hours | Sleep time: 2 hours"
[1] "Screen time: 9.5 hours | Sleep time: 2.5 hours"
[1] "Screen time: 9 hours | Sleep time: 3 hours"
[1] "Screen time: 8.5 hours | Sleep time: 3.5 hours"
[1] "Screen time: 8 hours | Sleep time: 4 hours"
[1] "Screen time: 7.5 hours | Sleep time: 4.5 hours"
[1] "Screen time: 7 hours | Sleep time: 5 hours"
[1] "Screen time: 6.5 hours | Sleep time: 5.5 hours"
[1] "Screen time: 6 hours | Sleep time: 6 hours"
[1] "Screen time: 5.5 hours | Sleep time: 6.5 hours"
[1] "Screen time: 5 hours | Sleep time: 7 hours"
[1] "Screen time: 4.5 hours | Sleep time: 7.5 hours"
[1] "Screen time: 4 hours | Sleep time: 8 hours"
[1] "Screen time: 3.5 hours | Sleep time: 8.5 hours"
[1] "Screen time: 3 hours | Sleep time: 9 hours"
[1] "Screen time: 2.5 hours | Sleep time: 9.5 hours"

In [21]:
screen_time <- 10
sleep_time <- 2
while (screen_time > 2) {
  cat("Screen time:", screen_time, "hours | Sleep time:", sleep_time, "hours")
  screen_time <- screen_time - 0.5
  sleep_time <- sleep_time + 0.5
}

Screen time: 10 hours | Sleep time: 2 hoursScreen time: 9.5 hours | Sleep time: 2.5 hoursScreen time: 9 hours | Sleep time: 3 hoursScreen time: 8.5 hours | Sleep time: 3.5 hoursScreen time: 8 hours | Sleep time: 4 hoursScreen time: 7.5 hours | Sleep time: 4.5 hoursScreen time: 7 hours | Sleep time: 5 hoursScreen time: 6.5 hours | Sleep time: 5.5 hoursScreen time: 6 hours | Sleep time: 6 hoursScreen time: 5.5 hours | Sleep time: 6.5 hoursScreen time: 5 hours | Sleep time: 7 hoursScreen time: 4.5 hours | Sleep time: 7.5 hoursScreen time: 4 hours | Sleep time: 8 hoursScreen time: 3.5 hours | Sleep time: 8.5 hoursScreen time: 3 hours | Sleep time: 9 hoursScreen time: 2.5 hours | Sleep time: 9.5 hours

One key difference I notice between cat() and print(paste()) is that the cat() function does not print the results in a new line. The print and paste functions print the results of each iteration in a new line, while the cat function does not.

# Question 4

In [22]:
characters <- read.csv("/anvil/projects/tdm/data/starwars/characters.csv")

In [23]:
i <- 1
char_count <- 0
non_human <- 0

In [24]:
while (char_count < 20) {

    if(characters$species[i] == "Human"){
        cat(char_count, "This is a human\n")
    }
    else {
        print("This is not a human")
        non_human <- non_human + 1
    }
    i <- i + 1
    char_count <- char_count + 1
}

0 This is a human
1 This is a human
2 This is a human
[1] "This is not a human"
4 This is a human
[1] "This is not a human"
6 This is a human
7 This is a human
8 This is a human
9 This is a human
10 This is a human
11 This is a human
[1] "This is not a human"
13 This is a human
14 This is a human
15 This is a human
16 This is a human
17 This is a human
[1] "This is not a human"
[1] "This is not a human"

In [25]:
cat("The number of non humans: ", non_human)

The number of non humans:  5

In [26]:
no_humans <- sum(head(characters$species, 20) != "Human")

In [27]:
cat("The number of non humans(without using a loop): ", no_humans)

The number of non humans(without using a loop):  5

# Question 5

In [28]:
my_vec <- c(1, 4, 5, 2, 8, 4, 6, 3, 9, 3, 2, 2, 4, 1)
i <- 1
total_count <- 0
repeat {
    my_score <- my_vec[i]
    cat(total_count, "+ ", my_score, "= ")
    total_count <- total_count + my_score
    cat(total_count, "\n")

    if (total_count > 40) {
        print("You win!!!!!!")
        break
    }
    
    i <- i + 1
}

0 +  1 = 1
1 +  4 = 5
5 +  5 = 10
10 +  2 = 12
12 +  8 = 20
20 +  4 = 24
24 +  6 = 30
30 +  3 = 33
33 +  9 = 42
[1] "You win!!!!!!"

In [30]:
i <- 1
total_count <- 1

repeat {
    student_score <- myDF$Mental_Health_Score[i]
    cat("Mental health of student", i, "is", student_score, "\n")
    cat("Current mental health score is", total_count, "\n\n")
    total_count <- total_count + student_score

    if (total_count >= 100) {
        print("ALLL DONEEEEE")
        break
    }

    i <- i + 1
}

Mental health of student 1 is 6
Current mental health score is 1

Mental health of student 2 is 8
Current mental health score is 7

Mental health of student 3 is 5
Current mental health score is 15

Mental health of student 4 is 7
Current mental health score is 20

Mental health of student 5 is 6
Current mental health score is 27

Mental health of student 6 is 4
Current mental health score is 33

Mental health of student 7 is 9
Current mental health score is 37

Mental health of student 8 is 6
Current mental health score is 46

Mental health of student 9 is 7
Current mental health score is 52

Mental health of student 10 is 7
Current mental health score is 59

Mental health of student 11 is 5
Current mental health score is 66

Mental health of student 12 is 6
Current mental health score is 71

Mental health of student 13 is 8
Current mental health score is 77

Mental health of student 14 is 5
Current mental health score is 85

Mental health of student 15 is 7
Current mental health score is 90

Mental health of student 16 is 6
Current mental health score is 97

[1] "ALLL DONEEEEE"

The difference between the while loop and the repeat loop is that the while loop checks the condition before it iterates through, while the repeat loop continues through iterations until a break is inserted.